<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css}"
      rel="stylesheet" type="text/css">
<link th:href="@{/css/styles.css}"
      rel="stylesheet" type="text/css">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
</head>
<body>
<div class="container">
    <img class="image" th:src="@{img/secret-santa1.png}" alt="картинка новогодних носков"/>
    <img class="image" th:src="@{img/secret-santa1.png}" alt="картинка новогодних носков"/>
    <img class="image" th:src="@{img/secret-santa1.png}" alt="картинка новогодних носков"/>
</div>
</body>
</html>