<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<link  id="themeLink" th:href="@{/css/styles.css}"
       rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>Secret</title>
</head>
<body>
<h2>Страничка для ввода данных</h2><br>
<img class="image" th:src="@{img/secret-santa1.png}" alt="картинка новогодних носков"/>
<img class="image" th:src="@{img/secret-santa1.png}" alt="картинка новогодних носков"/>
<img class="image" th:src="@{img/secret-santa1.png}" alt="картинка новогодних носков"/>
</body>
</html>